page-login {

  div.input-center{
    display: block;
    margin: auto;
    width: 100%;
  }

  .center-logo{
    height: 30%;
    display: block;
    margin: auto;
  }

  .center-rrss{
    height: auto;
    width: 60%;
    display: block;
    margin: auto;
  }

  .center-text{
    font-weight: bold;
    text-align: center;
  }

  button.button-center{
    display: block;
    margin: auto;
    width: 100%;
  }

  div.padding-top{
    padding-top: 3%;
  }

  div.padding-top-first{
    padding-top: 10%;
  }

}
