page-login {

  div.input-center{
    display: block;
    margin: auto;
    width: 100%;
  }

  button.button-center{
    display: block;
    margin: auto;
    width: 100%;
  }

  div.padding-top{
    padding-top: 3%;
  }

  div.padding-top-first{
    padding-top: 10%;
  }

}
