<ion-header>
  <ion-navbar>
    <ion-title>
      HuellApp
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="settings()">
        <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-fab bottom center *ngIf="!isPlay">
    <button ion-fab color="secondary-dark"
            (click)="comenzar()">
      <ion-icon name="play"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom center *ngIf="isPlay">
    <button ion-fab color="danger"
            (click)="comenzar()">
      <ion-icon name="square"></ion-icon>
    </button>
  </ion-fab>

</ion-content>



<ion-footer>
  <ion-toolbar>

    <ion-grid>
      <ion-row>

        <ion-list radio-group [(ngModel)]="choose" class="horizontal">

          <ion-col>
            <ion-item>
              <ion-icon name="bicycle" item-start></ion-icon>
              <ion-radio value="bici"></ion-radio>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-icon name="car" item-start></ion-icon>
              <ion-radio value="auto"></ion-radio>
            </ion-item>
          </ion-col>

          <!-- <ion-col>
            <ion-item>
              <ion-icon name="bus" item-start></ion-icon>
              <ion-radio value="micro"></ion-radio>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-icon name="subway" item-start></ion-icon>
              <ion-radio value="metro"></ion-radio>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-icon name="walk" item-start></ion-icon>
              <ion-radio value="caminar"></ion-radio>
            </ion-item>
          </ion-col> -->

        </ion-list>

      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-footer>
