<ion-header>
  <ion-navbar>
    <ion-title>
      HuellApp
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="settings()">
        <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <!-- MOSTRAR MAPA -->
  <div #map id="map" style="height:100%"></div>
  <!-- <div #map id="map"></div> -->

  <!-- MOSTRAR BOTONES -->
  <ion-fab bottom center *ngIf="!isPlay">
    <button ion-fab color="secondary-dark"
            (click)="comenzar()">
      <ion-icon name="play"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom center *ngIf="isPlay">
    <button ion-fab color="danger"
            (click)="comenzar()">
      <ion-icon name="square"></ion-icon>
    </button>
  </ion-fab>

</ion-content>


<!-- BOTONES VEHICULOS -->
<ion-footer>
  <ion-toolbar>

        <ion-segment [(ngModel)]="vehiculo" color="secondary-dark">

          <ion-segment-button value="bici"
                              (ionSelect)="onSegmentSelected('bici')">
            <ion-icon name="bicycle"></ion-icon>
          </ion-segment-button>

          <ion-segment-button value="auto"
                              (ionSelect)="onSegmentSelected('auto')">
            <ion-icon name="car"></ion-icon>
          </ion-segment-button>

          <ion-segment-button value="bus"
                              (ionSelect)="onSegmentSelected('bus')">
            <ion-icon name="bus"></ion-icon>
          </ion-segment-button>

          <ion-segment-button value="metro"
                              (ionSelect)="onSegmentSelected('metro')">
            <ion-icon name="subway"></ion-icon>
          </ion-segment-button>

          <ion-segment-button value="caminar"
                              (ionSelect)="onSegmentSelected('caminar')">
            <ion-icon name="walk"></ion-icon>
          </ion-segment-button>

        </ion-segment>

  </ion-toolbar>
</ion-footer>
